.img_poster {
   
    width: 200px;
}

.backButton svg{
   
    
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: -1em;
    color: blue;
}
.poster{
    /* padding: 100px; */
    align-self: center;
}
@media (max-width:350px) {.img_poster {
   
    width: 100%;
} } 