.img_poster {
   
    width: 200px;
}
.backButton svg{
   
    height: 45px;
}
.poster{
    /* padding: 100px; */
    align-self: center;
}
@media (max-width:350px) {.img_poster {
   
    width: 100%;
} } 