* {
    box-sizing: border-box;
 }
 .cards{
     background-color: white;
 }
 .card {
    display: flex;
    /* color: white; */
    float: left;
    /* width: calc(25% - 20px); */
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 150px;
    width: 180px;
 }
 .card p {
    font-size: 18px;
 }
 .card img{
     width: 150px;
 }
 .cardContainer:after {
    content: "";
    display: table;
    clear: both;
 }
 @media screen and (max-width: 600px) {
    .card {
       width: 100%;
    }
 }